$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$font-stack: 'IBM Plex Sans' , sans-serif; 
$paragraph-font-size: 1.5em;
$quaternary-color: #FA9500;
$button-text-color: white;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    color: $primary-text-color;
    background-color: $primary-color;
    max-width: 100vw; 
    font-size: 1em;
  }
.container {
    max-width: 100vw; // Apply max-width to specific elements if needed
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $primary-color;
    font-family: $font-stack;
}

.navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $primary-text-color;
    padding: 0.5em;

    p {
        font-size: $paragraph-font-size;
        padding-left: 1em;
    }
    .icons {
        display:flex;
        gap: 0.8em;

        button {
            background: none;
            border-style: none;
            cursor: pointer;

            svg {
            stroke: $primary-text-color;
            width: 2em;
            height: 2em;
            }
        }
    }
}

article {
  //  background-color: $primary-color;
     background-color: blue;
    color: $primary-text-color;
    font-family: $font-stack;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    width: auto;
    justify-content: space-between;
    padding-top: 2em;

    h1 {
        font-size: 3em;
        padding:0%;
        margin: 0%;
    }

    p {
        font-size: $paragraph-font-size;
    }

    button{
        display: flex;
        border: none;
        background: none;
        border-style: none;
        width: 15vw;
        height: auto;
        background-color: $quaternary-color;
        border-radius: 15em;
        color: $button-text-color;
        font-size: 1.5em;
        cursor: pointer;
        font-size: clamp(1rem, 2.5vw, 2rem);
        justify-content: center;
        align-items: center;
    }

    .impact-section {
        width: 50%;
        color: $primary-text-color;
        font-family: $font-stack;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: greenyellow;
        text-align: justify;
        row-gap: 1.2rem;
        display: flex;
        flex-direction: column;
    }
    .image-section {
        width: 50%;
        color: $primary-text-color;
        font-family: $font-stack;
      //  padding-left: 1rem;
      //  padding-right: 1rem;
        padding: 0.4%;
        background-color: red;
        img {
            width: 100%;
            max-width: 100vw;
            overflow: hidden;
            border-radius: 10.5rem;
        }
    }
}

section {
    background-color: green;
    color: $primary-text-color;
    font-family: $font-stack;
    padding: 1rem;
    width: 100%;
    height: auto;

    h2{
        color: $primary-text-color;
        font-size: 2em;
    }
    .healthcare{
        h2{
            font-weight: 300;
            padding-bottom: 2em;
        }
        .product-card{
            width: 20vw;
            height: auto;
            background-color: purple;
            color: $primary-text-color;
            padding: 1rem;
            border-radius: 1rem;

            img {
                width: 100%;
                max-width: 100vw;
                overflow: hidden;
                height: auto;
                padding: 0.5rem;
            }
        }
    }
}

main {
    background-color: $secundary-color;
    color: $primary-text-color;
    font-family: $font-stack;
    padding: 1rem;
    width: 100%;
}

footer {
    $backgorund: $quaternary-color;
    background-color: $backgorund;
    width: 100%;
    height: 15rem;
    color: $primary-text-color;
    font-family: $font-stack;
    padding: 1rem;
}